body, html {
  color: whitesmoke;
}

nav, header, section, footer {
  display: inline;
  text-align: center;
}
select {
  max-width: 80%;
}
article {
  margin: 1%;
  padding: 3% 5%;
  text-align: center;
  background-color: rgba(0,0,0, 0.5);
}

.nav1 {
  text-align: center;
}

.boton-nav {
  color: white;
  text-decoration: none;
  cursor: default;
}
.boton-nav-compartir{
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.boton-navigator {
  background-color: #89b5fa; 
  padding: 15px 30px;
  text-align: justify;
  display: inline-block;
  font-size: 100%;
}
.boton-navigator:hover {
  text-decoration: underline;
  opacity: 0.6 ;
}
section {
  max-height: fit-content;
}
.texto-grande {
  font-size: 2em;
  text-align: center;
}
.logo {
  margin-top: 2%;
  text-align: center;
  border-radius: 50%;
  max-width: 50%;
  max-height: auto;
  box-shadow: 0 0 5px 10px #CA89454D;
}

.titulo {
  text-align: center;
  font: bold;
}

.menu-opciones {
  margin-top: 1%;
  text-align: center;
  display: inline-flex;
}
.margin-radio {
  text-align: center;
  font-size: 1.5em;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked:after,
[type="radio"]:not(:checked):after{
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: relative;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked):after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.text-error {
  color: whitesmoke;
  font-size: 1.5em;
}

.group-botones {
  text-align: center;
  font-size: 1.5em;
  margin-top: 4%;
}
body {
  background: url("/img/bgimage.jpg") no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(2px); 
}

.footer {
  text-align: center;
}
.item, .about {
  margin-right: 1%;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.nombre , .status {
  text-align: center;
}
.categoria {
  height: 10%;
}
.articulo {
  position: relative;
  text-align: center;
  height: 100%;
  max-width: 100vw;
  margin-left: 2;
}
.secciones {
  display: inline-flex;
}
.seccion {
  margin-top: 1%;
  height: 90%;
  width: 100%;
  text-align:center;
  margin-bottom: 1%;
}
.img-articulo {
  display: block;
  height: 80%;
  width: auto;
}
.radio {
  font-size: 5em;
}
.sub-titulo {
  font-size: 1.5em;
  color: whitesmoke;
}
.group-botones {
  margin-top: 1%;
}
.margin {
  margin-top: 1%;
  text-align: center;
  font-size: 1.5em;
}
.botones {
  padding-left: 1%;
  padding-right: 1%;
}
.radio {
  padding: 1% 1% 0% 1%
}
textarea {
  resize: none;
}

.error {
  border: 2px white;
  color: red;
}
.footer {
  font-size: 1.2em;
}

.foto {
  border-radius: 10%;
  max-width: 90%;
  max-height: 90%;
}

.descripcion {
  color: whitesmoke;
  font-size: 1em;
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body, html {
    height: 100%;
  }
  
  nav, header, section, footer {
      display: flex;
      text-align: center;
  }
  nav {
    justify-content: center;
  }
  section {
    height: 60%;
  }
  #rovers {
    display:block;
  }
  .texto-grande {
    font-size: 2em;
  }
  .info {
    display: inline;
  }
  .about {
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    display: block;
  }
  .logo {
    margin-left: 1%;
    text-align: left;
  }
  
  .titulo {
    text-align: center;
    flex-grow: 1;
    font: bold;
    color: black;
  }
  
  .menu-opciones {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
  }
  
  body {
    background: url("/img/bgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .footer {
    text-align: center;
    flex-grow: 1;
  }
  .articulos {
    position: relative;
    display: inline-flex;
    height: 80%;
    max-width: 100vw;
    overflow-x: auto;
    object-fit: fill;
  }
  .categoria {
    height: 10%;
  }
  .articulo {
    position: relative;
    text-align: center;
    height: 100%;
    max-width: 100vw;
    margin-left: 2;
  }
  .seccion {
    margin-top: 1%;
    height: 90%;
    width: 100%;
    text-align:center;
    flex-grow: 1;
    margin-bottom: 1%;
  }
  .img-articulo {
    height: 45%;
    width: auto;
  }
  .sub-titulo {
    font-size: 1.5em;
    color: rgb(136, 84, 6);
  }
  .group-botones {
    margin-top: 1%;
  }
  .margin {
    margin-top: 1%;
  }
  .botones {
    padding-left: 1%;
    padding-right: 1%;
  }
  .radio {
    padding: 1% 1% 0% 1%
  }
  textarea {
    resize: none;
  }
  
  .error {
    border: 2px black;
    color: red;
  }  
}
@media (min-width: 1024px) and (max-width: 1199px) {
  body, html {
    height: 100%;
  }
  
  nav, header, section, footer {
      display: flex;
      text-align: center;
  }
  nav {
    justify-content: center;
  }
  section {
    height: 60%;
  }
  #rovers {
    display:inline-flex;
  }
  .texto-grande {
    font-size: 2em;
  }
  .info {
    display: inline;
  }
  .about {
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    display: inline;
  }
  .logo {
    margin-left: 1%;
    text-align: left;
  }
  
  .titulo {
    text-align: center;
    flex-grow: 1;
    font: bold;
    color: black;
  }
  
  .menu-opciones {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
  }
  
  body {
    background: url("/img/bgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .footer {
    text-align: center;
    flex-grow: 1;
  }
  .articulos {
    position: relative;
    display: inline-flex;
    height: 80%;
    max-width: 100vw;
    overflow-x: auto;
    object-fit: fill;
  }
  .categoria {
    height: 10%;
  }
  .articulo {
    position: relative;
    text-align: center;
    height: 100%;
    max-width: 100vw;
    margin-left: 2;
  }
  .seccion {
    margin-top: 1%;
    height: 90%;
    width: 100%;
    text-align:center;
    flex-grow: 1;
    margin-bottom: 1%;
  }
  .img-articulo {
    height: 45%;
    width: auto;
  }
  .sub-titulo {
    font-size: 1.5em;
    color: rgb(136, 84, 6);
  }
  .group-botones {
    margin-top: 1%;
  }
  .margin {
    margin-top: 1%;
  }
  .botones {
    padding-left: 1%;
    padding-right: 1%;
  }
  .radio {
    padding: 1% 1% 0% 1%
  }
  textarea {
    resize: none;
  }
  
  .error {
    border: 2px black;
    color: red;
  }  
}
@media (min-width: 1200px) {
  body, html {
    height: 100%;
  }
  
  nav, header, section, footer {
      display: flex;
      text-align: center;
  }
  nav {
    justify-content: center;
  }
  section {
    height: 60%;
  }
  #rovers {
    display:inline-flex;
  }
  .texto-grande {
    font-size: 2em;
  }
  .info {
    display: inline;
  }
  .about {
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    display: inline;
  }
  .logo {
    margin-left: 1%;
    text-align: left;
  }
  
  .titulo {
    text-align: center;
    flex-grow: 1;
    font: bold;
    color: black;
  }
  
  .menu-opciones {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
  }
  
  body {
    background: url("/img/bgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .footer {
    text-align: center;
    flex-grow: 1;
  }
  .articulos {
    position: relative;
    display: inline-flex;
    height: 80%;
    max-width: 100vw;
    overflow-x: auto;
    object-fit: fill;
  }
  .categoria {
    height: 10%;
  }
  .articulo {
    position: relative;
    text-align: center;
    height: 100%;
    max-width: 100vw;
    margin-left: 2;
  }
  .seccion {
    margin-top: 1%;
    height: 90%;
    width: 100%;
    text-align:center;
    flex-grow: 1;
    margin-bottom: 1%;
  }
  .img-articulo {
    height: 45%;
    width: auto;
  }
  .sub-titulo {
    font-size: 1.5em;
    color: rgb(136, 84, 6);
  }
  .group-botones {
    margin-top: 1%;
  }
  .margin {
    margin-top: 1%;
  }
  .botones {
    padding-left: 1%;
    padding-right: 1%;
  }
  .radio {
    padding: 1% 1% 0% 1%
  }
  textarea {
    resize: none;
  }
  
  .error {
    border: 2px black;
    color: red;
  }  
}
